autograder_output
generate_data
submissions
test
.idea
.DS_Store
autograder.py
private_tests.py
DONTPUSHDBHANDLER.py
Specification.md
ER.svg
MARIADB_CREDS.py
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python